#Keys
/strategies/apiKey.ini
.idea/
/strategies/xxx.p
/strategies/depth.p
/strategies/tradeRecords
/strategies/acct
Binance/__pycache__/
/strategies/tradeRecord
/strategies/*.p
strategies/EOSETHtradeRecord.p
strategies/EoStradeRecord.p
